USE [SchoolManagement]
GO
/****** Object:  Table [dbo].[tbl_Countries]    Script Date: 10/13/2022 3:11:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Countries](
	[Id] [bigint] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[ISO3] [nvarchar](3) NULL,
	[Numeric_Code] [nvarchar](3) NULL,
	[ISO2] [nvarchar](3) NULL,
	[PhoneCode] [nvarchar](255) NULL,
	[Capital] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NULL,
	[CurrencyName] [nvarchar](255) NULL,
	[CurrencySymbol] [nvarchar](255) NULL,
	[tld] [nvarchar](255) NULL,
	[Native] [nvarchar](255) NULL,
	[Region] [nvarchar](255) NULL,
	[SubRegion] [nvarchar](255) NULL,
	[TimeZones] [nvarchar](max) NULL,
	[Translations] [nvarchar](max) NULL,
	[Latitutude] [nvarchar](255) NULL,
	[Longitude] [nvarchar](255) NULL,
	[Emoji] [nvarchar](255) NULL,
	[EmojiU] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [nvarchar](1) NULL,
	[WikiDataId] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbl_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
