.page-wrapper .page-content{
    padding-top:0 !important
}
.page-wrapper .page-content > div{
    padding:0 !important
}
.space{
    margin-left: 3px;
}
.spacingBetweenTextBox{
    margin-bottom: 10px;
    text-align: center;
}
.labelColor{
    font-size: 15px;
    font-weight: bold;
}
.solid{
    font-weight: bold;
}
button.btn.btn-sm.btn-primary.space{
    margin-left: 10px;
}
.iconSpace{
    margin-right: 5px;
}

.alignItem{
    text-align: left;
}
.MuiBox-root.css-8atqhb {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: white;
}
nav.navbar-expand-sm.navbar-toggleable-sm.border-bottom.box-shadow.mb-3.navbar.navbar-light{
    height: 80px;
    background-color: #61d4f3;
}
a.text-dark.nav-link{
    color:white !important;
    font-size: 15px;
    font-weight: bold;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .select-wrap {
    border: 1px solid #777;
    border-radius: 4px;
    padding: 0 5px;
    width:200px;
    background-color:#fff;
    position:relative;
  }
  .select-wrap label{
    font-size:8px;
    text-transform: uppercase;
    color: #777;
    padding: 0 8px;  
    position: absolute;
    top:6px;
  }
  
  select{
    background-color: #fff;
    border:0px;
    height:50px;
    font-size: 16px;
  }
  .userimage:hover {
    -webkit-transform:scale(20.5); /* or some other value */
    transform:scale(1.5);
}
.modalSize{
    width: '80% !important';
  }
  .modalSize.box.MuiBox-root.css-0{
    overflow-y: scroll;
    max-height: 560px;
    width: 100% !important;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
      width:'100%'
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullWidth.css-tlc64q-MuiPaper-root-MuiDialog-paper{
    max-width:100%;
    height:100%
  }
  .editServices{
    max-width:100%;
    height:320px
  }
  .buttonClick{
    padding-bottom: 20px;
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding-right:250px !important
  }
  .spacing{
    margin-bottom: 10px !important;
  }
  .selectHeight{
    height:calc(2.25rem + 2px) !important
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullWidth.css-tlc64q-MuiPaper-root-MuiDialog-paper{
    width: auto !important;
    height: auto !important;
  }
.form-control-sm{
  margin-bottom: 10px;
}
.MuiBox-root-1{
  width: auto !important;
}
.textAreaAutoSize{
  width:100%
}